@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
$font : 'Noto Sans KR', sans-serif;

// html{font-kerning: none;}
*{box-sizing: border-box;}
body{font-family: $font; margin: 0;}
h1,h2,li,ul,p,b{ margin: 0; padding: 0;}
ul,li{list-style-type: none;}
a { text-decoration: none;}
img{vertical-align: middle;}
header{
    font-size: 24px;
}
h2{
    font-size: 70px;
}

// rgba(253, 206, 2, 1)  
// rgba(4, 104, 183, 1)
// rgba(1, 127, 53, 1)