@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

h1, h2, li, ul, p, b {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

header {
  font-size: 24px;
}

h2 {
  font-size: 70px;
}

header {
  position: relative;
}

header .head {
  padding: 2% 6%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 30px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

header .head .logo p {
  width: 200px;
}

header .head .logo p img {
  width: 100%;
}

header .head .reservation {
  display: inline-block;
  width: 10%;
}

header .head .nav {
  width: 100%;
}

header .head .nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head .nav ul li {
  margin-left: 8%;
}

header .head .down {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
  z-index: 999;
  display: none;
}

header .head .down div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .head .down div ul {
  margin: 1% 0 2%;
  width: 10%;
  -webkit-transform: translateX(46%);
          transform: translateX(46%);
}

header .head .down div ul li {
  width: 100%;
  padding: 5% 5%;
}

footer {
  height: 290px;
}

footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0;
}

footer .foot .footer-info {
  margin-right: 20%;
}

footer .foot .footer-info p:nth-of-type(1) img {
  width: 146px;
}

footer .foot .footer-info p:nth-of-type(2) {
  stroke: #767676;
  color: #3d3d3d;
  font-size: 20px;
  white-space: pre-line;
  line-height: 1.9rem;
  padding-top: 1%;
}

footer .foot .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foot .footer-icon a {
  display: inline-block;
  margin-right: 10%;
}

footer .foot .footer-icon a img {
  width: 40px;
}

main {
  position: relative;
}

main .quick {
  position: fixed;
  right: 5%;
  bottom: 10%;
  width: 68px;
  height: 68px;
}

main .quick img {
  width: 100%;
}

main .tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 11%;
  top: 200px;
  z-index: 999;
}

main .tab-menu a {
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #eee;
  border-radius: 100px;
  font-size: 20px;
  text-align: center;
  padding: 1% 0;
  margin: 2.5%;
  color: #3d3d3d;
}

main .tab-menu a.active,
main .tab-menu a:hover {
  color: #fff;
  background-color: #0066FF;
  -webkit-transition: .5s;
  transition: .5s;
}

main .quick-sub {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main .quick-sub a {
  display: inline-block;
  width: 128px;
  height: 67px;
  background-color: #fdce02;
  color: #000;
  font-size: 23px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .quick-sub a:nth-of-type(1) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main .quick-sub a:nth-of-type(4) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .quick-sub.active {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

main a:hover {
  background-color: #FFA800;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
}

header {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

header .head {
  padding: 5px 5%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 30px;
  position: fixed;
  z-index: 9999;
}

header .head .logo p {
  width: 200px;
}

header .head .logo p img {
  width: 100%;
}

header .head .logo p:nth-of-type(1) {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

header .head .logo p:nth-of-type(2) {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
}

header .head .reservation {
  display: inline-block;
  width: 10%;
  text-align: center;
}

header .head .nav {
  width: 100%;
}

header .head .nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head .nav ul li {
  margin-left: 8%;
}

header .head .nav ul:nth-of-type(2) {
  margin: 0 20px 0 0px;
}

header .head a {
  color: #3d3d3d;
  font-weight: bold;
}

header .head a:hover {
  color: #0066FF;
}

header .head .down a {
  font-weight: lighter;
}

header .head .down {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
  z-index: 999;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

header .head .down div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .head .down div ul {
  margin: 5px 0;
  width: 10%;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

header .head .down div ul li {
  width: 100%;
  padding: 5% 5%;
}

header .head .down div ul:nth-of-type(2) {
  margin: 5px 1%;
}

header .head:hover .down {
  display: block;
}

header .head.active {
  background-color: #002D71;
  -webkit-transition: 1s;
  transition: 1s;
}

header .head.active .nav a,
header .head.active .reservation {
  color: #fff;
}

header .head.active .nav a:hover {
  color: #0066FF;
}

header .head.active .logo .active {
  opacity: 1;
}

main {
  color: #333333;
}

main .quick {
  position: fixed;
  right: 5%;
  bottom: 10%;
  width: 68px;
  height: 68px;
  z-index: 99;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .quick a img {
  width: 100%;
}

main .quick.active {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

main .click {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s;
  transition: 1s;
  margin: 200px 0;
}

main .click.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

main .s1 {
  position: relative;
}

main .s1 .slide-wrap {
  position: relative;
  height: 1080px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .s1 .slide-wrap .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main .s1 .slide-wrap .slide:nth-of-type(2) .slide-text {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .s1 .slide-wrap .slide:nth-of-type(2) .slide-text h2 {
  padding-bottom: 4%;
}

main .s1 .slide-wrap .slide:nth-of-type(2) .slide-text p {
  font-size: 32px;
  white-space: pre-line;
}

main .s1 .slide-wrap .slide:nth-of-type(2) .slide-text a {
  display: inline-block;
  width: 260px;
  height: 83px;
  color: #FEA700;
  border: 3px solid #fdce02;
  border-radius: 10px;
  text-align: center;
  padding: 2% 0;
  margin: 7% 0;
  font-size: 30px;
}

main .s1 .slide-wrap .slide:nth-of-type(3) .slide-text {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .s1 .slide-wrap .slide:nth-of-type(3) .slide-text h2 {
  padding-bottom: 4%;
}

main .s1 .slide-wrap .slide:nth-of-type(3) .slide-text p {
  font-size: 32px;
  white-space: pre-line;
}

main .s1 .slide-wrap .slide:nth-of-type(3) .slide-text p img {
  width: 180px;
  height: 160px;
}

main .s1 .slide-wrap .slide:nth-of-type(3) .slide-text a {
  display: inline-block;
  width: 260px;
  height: 83px;
  color: #0069C8;
  border: 3px solid #0468b7;
  border-radius: 10px;
  text-align: center;
  padding: 2% 0;
  margin: 7% 0;
  font-size: 30px;
}

main .s1 .slide-wrap .slide p img {
  width: 100%;
}

main .s1 .slide-wrap .slide .slide-text {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .s1 .slide-wrap .slide .slide-text h2 {
  padding-bottom: 3%;
}

main .s1 .slide-wrap .slide .slide-text h2 span {
  display: block;
  color: #0468b7;
}

main .s1 .slide-wrap .slide .slide-text p {
  font-size: 32px;
}

main .s1 .arrow a:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 3%;
}

main .s1 .arrow a:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 3%;
}

main .s1 .indi {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .s1 .indi a {
  display: inline-block;
  margin: 0 5px;
}

main .s1 .indi a.active {
  background-color: #0066FF;
}

main .s2 {
  position: relative;
  height: 100vh;
}

main .s2 .s2-ani {
  width: 100%;
  margin: 10% auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

main .s2 .s2-ani .s2-info p {
  padding-top: 3%;
  font-size: 32px;
  white-space: pre-line;
}

main .s2 .s2-ani .s2-info p span {
  font-weight: bold;
}

main .s2 .s2-ani .s2-img img {
  width: 535px;
  height: 725px;
  border-radius: 20px;
}

main .s3 {
  margin: 10% auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  padding: 10% 0;
}

main .s3 .s3-info h2 {
  white-space: pre-line;
}

main .s3 .s3-info p {
  padding-top: 3%;
  font-size: 32px;
  white-space: pre-line;
}

main .s3 .s3-info p span {
  font-weight: bold;
}

main .s3 .s3-img {
  width: 535px;
  height: 725px;
}

main .s3 .s3-img img {
  width: 100%;
  border-radius: 20px;
}

main .s3 a {
  display: inline-block;
  width: 260px;
  height: 83px;
  background-color: #002D71;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 2% 0;
  margin: 6% 0;
  font-size: 30px;
}

main .s4 {
  margin: 10% auto 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .s4 p:nth-of-type(1) {
  width: 400px;
  height: 180px;
}

main .s4 p:nth-of-type(1) img {
  width: 100%;
}

main .s4 p:nth-of-type(2) {
  font-size: 32px;
  margin: 1% 0 2%;
}

main .s4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .s4 ul li {
  width: 220px;
  height: 345.5px;
  margin-right: 50px;
}

main .s4 ul li img {
  width: 100%;
}

main .s4 a {
  display: inline-block;
  width: 260px;
  height: 83px;
  background-color: #017F40;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 1% 0;
  margin: 3% 0;
  font-size: 30px;
}

main .s5 {
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .s5 p:nth-of-type(1) img {
  width: 430px;
  height: 853px;
}

main .s5 .s5-info {
  white-space: pre-line;
}

main .s5 .s5-info p {
  font-size: 30px;
}

main .s5 .s5-info .s5-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .s5 .s5-info .s5-button a {
  display: inline-block;
  width: 260px;
  height: 83px;
  background-color: #FFCD00;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 1% 0;
  margin: 3%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .s5 .s5-info .s5-button a img {
  width: 70px;
  height: 70px;
}

main .s5 .s5-info .s5-button a:nth-of-type(2) {
  background-color: #002D71;
}

.sub1-1 {
  position: relative;
  padding: 17% 0;
}

.sub1-1 .sub1-1-info .sub1-1-text {
  margin: 0 auto;
  width: 68%;
}

.sub1-1 .sub1-1-info .sub1-1-text h2 {
  color: #002D71;
}

.sub1-1 .sub1-1-info .sub1-1-text p {
  white-space: pre-line;
  font-size: 32px;
  margin-top: 20px;
}

.sub1-1 .sub1-1-info ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  margin-top: 5%;
}

.sub1-1 .sub1-1-info ul li {
  width: 30%;
  color: #fff;
}

.sub1-1 .sub1-1-info ul li p {
  white-space: pre-line;
}

.sub1-1 .sub1-1-info ul li p img {
  border-radius: 20px;
  width: 350px;
  height: 500px;
}

.sub1-1 .sub1-1-info ul li p:nth-of-type(2) {
  margin-top: 7%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.sub1-1 .sub1-1-info ul li p:nth-of-type(3) {
  font-size: 40px;
  padding: 2% 0;
}

.sub1-1 .sub1-1-info ul li p:nth-of-type(4) {
  font-size: 22px;
}

.sub1-1 .sub1-bg {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  height: 450px;
  background-color: #0468b7;
  z-index: -99;
}

.sub1-2 {
  margin: 0 auto;
}

.sub1-2 .sub2-1-text {
  text-align: center;
}

.sub1-2 .sub2-1-text p {
  margin: 1% 0 5%;
  font-size: 32px;
  white-space: pre-line;
}

.sub1-2 ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: center;
}

.sub1-2 ul li {
  margin: 1%;
  width: 30%;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 20px 2px #ddd;
          box-shadow: -5px -5px 20px 2px #ddd;
  position: relative;
}

.sub1-2 ul li:not(:nth-of-type(1)):not(:nth-of-type(5)) p:nth-of-type(1) {
  width: 100%;
  height: 450px;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.sub1-2 ul li:not(:nth-of-type(1)):not(:nth-of-type(5)) p:nth-of-type(1) img {
  width: 280px;
}

.sub1-2 ul li:nth-of-type(2) p:nth-of-type(1) {
  width: 100%;
  height: 450px;
  -webkit-transform: translateY(35%) !important;
          transform: translateY(35%) !important;
}

.sub1-2 ul li:nth-of-type(2) p:nth-of-type(1) img {
  width: 280px;
}

.sub1-2 ul li li p:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sub1-2 ul li p {
  overflow: hidden;
}

.sub1-2 ul li p img {
  -webkit-transition: .5s;
  transition: .5s;
}

.sub1-2 ul li p:nth-of-type(1) {
  width: 100%;
}

.sub1-2 ul li p:nth-of-type(1) img {
  border-radius: 20px;
  width: 100%;
  vertical-align: middle;
}

.sub1-2 ul li p:nth-of-type(2) {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  white-space: pre-line;
  font-weight: bold;
  color: #fff;
  font-size: 0px;
}

.sub1-2 ul li::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  border-radius: 20px;
}

.sub1-2 ul li:hover p {
  font-size: 28px;
  z-index: 999;
}

.sub1-2 ul li:hover::after {
  display: block;
}

.sub1-3 {
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 10%;
  height: 100vh;
}

.sub1-3 h2 {
  margin: 10% 0 5%;
}

.sub1-3 #map {
  margin: 0 auto;
}

.sub1-3 .sub1-3-text {
  position: absolute;
  left: 12%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub1-3 .sub1-3-text p {
  white-space: pre-line;
  text-align: left;
  font-size: 23px;
  position: relative;
  line-height: 3rem;
}

.sub1-3 .sub1-3-text p span {
  font-weight: bold;
}

.sub1-3 .sub1-3-text p:nth-of-type(1) {
  margin-right: 450px;
}

.sub1-3 .sub1-3-text p:nth-of-type(2)::after {
  content: '';
  display: inline-block;
  height: 100px;
  border-right: 1.5px solid;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  margin-left: -50px;
}

.sub2 {
  margin: 0 auto;
}

.sub2 .sub2-1 {
  width: 75%;
  margin: 0 auto;
}

.sub2 .sub2-1 .sub2-1-text {
  margin: 0 auto;
  white-space: pre-line;
  margin-bottom: 3%;
}

.sub2 .sub2-1 .sub2-1-text h2 {
  color: #002D71;
}

.sub2 .sub2-1 .sub2-1-text p {
  font-size: 32px;
}

.sub2 .sub2-1 ul li {
  border: 3px solid #0066FF;
  border-radius: 20px;
  margin-bottom: 1%;
}

.sub2 .sub2-1 ul li .sub2-1-menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #0066FF;
  border-radius: 20px;
  padding: 1% 0;
}

.sub2 .sub2-1 ul li .sub2-1-menu1 p {
  font-size: 22px;
}

.sub2 .sub2-1 ul li .sub2-1-menu1 p:nth-of-type(1) {
  white-space: pre-line;
}

.sub2 .sub2-1 ul li .sub2-1-menu1 p:nth-of-type(1) span {
  color: #0066FF;
  font-weight: bold;
  font-size: 32px;
}

.sub2 .sub2-1 ul li .sub2-1-menu1 .triangle {
  width: 0px;
  height: 0px;
  border-top: 30px solid #0066FF;
  border-right: 20px solid transparent;
  border-bottom: 0;
  border-left: 20px solid transparent;
}

.sub2 .sub2-1 ul li .sub2-1-menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5% 6.5%;
}

.sub2 .sub2-1 ul li .sub2-1-menu2:nth-of-type(1) {
  display: none;
}

.sub2 .sub2-1 ul li .sub2-1-menu2 div {
  font-weight: bold;
}

.sub2 .sub2-1 ul li .sub2-1-menu2 div:nth-of-type(1) {
  margin-right: 17%;
}

.sub2 .sub2-1 ul li .sub2-1-menu2 div p {
  line-height: 1.5rem;
}

.sub2 .sub2-1 ul li .sub2-1-menu2 div p:nth-of-type(1) {
  font-size: 22px;
  padding-bottom: 1%;
}

.sub2 .sub2-1 ul li .sub2-1-menu2 div p:nth-of-type(2) {
  font-size: 20px;
  white-space: pre-line;
}

.sub2 .sub2-1 ul li:nth-of-type(2) {
  border: 3px solid #FFCD00;
}

.sub2 .sub2-1 ul li:nth-of-type(2) .sub2-1-menu1 {
  border-bottom: 3px solid #FFCD00 !important;
}

.sub2 .sub2-1 ul li:nth-of-type(2) .sub2-1-menu1 p:nth-of-type(1) span {
  color: #FFCD00;
}

.sub2 .sub2-1 ul li:nth-of-type(2) .sub2-1-menu1 .triangle {
  border-top: 30px solid #FFCD00;
}

.sub2 .sub2-1 ul li:nth-of-type(3) {
  border: 3px solid #017F40;
}

.sub2 .sub2-1 ul li:nth-of-type(3) .sub2-1-menu1 {
  border-bottom: 3px solid #017F40 !important;
}

.sub2 .sub2-1 ul li:nth-of-type(3) .sub2-1-menu1 p:nth-of-type(1) span {
  color: #017F40;
}

.sub2 .sub2-1 ul li:nth-of-type(3) .sub2-1-menu1 .triangle {
  border-top: 30px solid #017F40;
}

.sub2 .sub2-2 {
  margin: 10% auto;
}

.sub2 .sub2-2 .sub2-2-text {
  margin: 0 auto;
  white-space: pre-line;
  margin-bottom: 3%;
  text-align: center;
}

.sub2 .sub2-2 .sub2-2-text p {
  font-size: 32px;
}

.sub2 .sub2-2 ul {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub2 .sub2-2 ul li {
  width: 17%;
  margin: 1%;
  position: relative;
}

.sub2 .sub2-2 ul li .sub2-2-list {
  padding: 45% 0;
  width: 100%;
  background-color: #0066FF;
  border-radius: 100%;
  color: #fff;
  font-size: 22px;
  text-align: center;
  -webkit-box-shadow: -4px -4px 25px #a2a2a2;
          box-shadow: -4px -4px 25px #a2a2a2;
}

.sub2 .sub2-2 ul li .sub2-2-down {
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-15%, 100%);
          transform: translate(-15%, 100%);
  width: 130%;
  background-color: #fff;
  border: 2px solid #0066FF;
  white-space: pre-line;
  text-align: center;
  z-index: 999;
  padding: 10% 0;
  border-radius: 20px;
}
/*# sourceMappingURL=index.css.map */